.productosFilter{
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 840px) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.selectdiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    @media screen and (max-width: 840px) {
      flex-direction: column;
      align-items: flex-start;
    }
}

.select {
    position: relative;
    min-width: 150px;
    margin: 1rem;
  }
  .select svg {
    position: absolute;
    right: 12px;
    top: calc(50% - 3px);
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #9098a9;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
  }
  .select select {
    padding: 7px 40px 7px 12px;
    width: 100%;
    border: 1px solid #e8eaed;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
  }
  .select select:required:invalid {
    color: #5a667f;
  }
  .select select option {
    color: #3a3a3a;
  }
  .select select option[value=""][disabled] {
    display: none;
  }
  .select select:focus {
    outline: none;
    border-color: rgb(150, 135, 0);
    box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
  }
  .select select:hover + svg {
    stroke: rgb(184, 181, 0);
  }
  .sprites {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
  }

.inputttt{
    border-radius: 5px;
    margin: 1px;
    
}

.btn-track {
  position: relative;
  text-decoration: none;
  overflow: hidden;
  background: #fff;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
  border-radius: 8px;
  margin: 1rem;
  transition: all 0.1s ease;
}

.btn-track .--text {
  float: left;
  color: #000;
  white-space: nowrap;
  line-height: 20px;
  height: 33px;
  padding: 10px;
  border-radius: 0 8px 8px 0;
  font-size: 16px;
  font-weight: 500;
}
