.filtereds{

}

.selectdiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    @media screen and (max-width: 840px) {
      display: none;
    }
}

.select {
    position: relative;
    min-width: 150px;
    margin: 0.6rem;
  }
  .select svg {
    position: absolute;
    right: 12px;
    top: calc(50% - 3px);
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #9098a9;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
  }
  .select select {
    width: 100%;
    border: 1px solid #e8eaed;
    border-radius: 0.4rem;
    background: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    transition: all 150ms ease;
  }
  .select select:required:invalid {
    color: #5a667f;
  }
  .select select option {
    color: #3a3a3a;
  }
  .select select option[value=""][disabled] {
    display: none;
  }
  .select select:focus {
    outline: none;
    border-color: rgb(150, 135, 0);
    box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
  }
  .select select:hover + svg {
    stroke: rgb(184, 181, 0);
  }
  .sprites {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
  }

.inputttt{
    border-radius: 1rem;
    margin: 0.6rem;
    
}

.btn-track {
  position: relative;
  text-decoration: none;
  overflow: hidden;
  background: #fff;
  border-radius: 0.2rem solid #e8eaed;
  border: 0.1rem solid #e8eaed;
  margin: 0.4rem;
  transition: all 0.1s ease;
}

.btn-track .--text {
  float: left;
  white-space: nowrap;
  line-height: 1rem;
  height: 0.8rem;
  padding: 0.8rem;
  padding-top: 0.2rem;
  border-radius: 0.4rem solid #e8eaed;
  font-size: 1rem;
}

.boooot{
  padding: 4px 60px;
  border-radius: 2px;
  border: none;
  background-color: #faad02;
  position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 100;
}

:root {
  --home-bg-color: #ececec;
  --menu-bg-color: #cbcbc2;
  --silde-btn-border: #808080;
  --slide-btn-bg: #ddf2db;
  --slide-btn-hoverbg: #f1fff1;
  --alpha-green: #ffae00;
  --icon-hover-color: #faad02;
  --icon-hover-bg: #faad02;
  --text-color: #616161;
  --border-color: #faad02;
  --heading-color: #faad02;
  --box-shadow-color: #b5b5ac;
  --lightest-green: #3a3a3a;
  --light-green: #414141;
  --dark-green: #a0a0a038;
  --box-shadow: 0px 0px 3px 5px var(--box-shadow-color);
  --border-radius: 60px 5px;
  --fade-green: #faad02;
}

.filtered2{
  display: none;
  @media screen and (max-width: 840px) {
    display: flex;
  }
}

#ham-menu {
  display: none;
}
.label_filtered[for="ham-menu"] {
  display: block;
  position: fixed;
  top: 134px;
  left: 20px;
  z-index: 999;
  width: 60px;
  height: 60px;
  background-color: var(--home-bg-color);
  border-radius: 15px;
  border: 2px solid var(--border-color);
}
.ham-menu {
  width: 50vw;
  height: 100%;
  position: fixed;
  top: 0;
  visibility: hidden;
  transform: translate(-110%);
  z-index: 998;
  background-color: var(--lightest-green);
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ham-menu > ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 20px;
  height: 50%;
}
.ham-menu > ul > li {
  font-size: 5rem;
  white-space: nowrap;
  letter-spacing: 0.15em;
  cursor: pointer;
  color: rgb(97, 97, 97);
}
#ham-menu:checked + .label_filtered {
  background-color: transparent;
  border-color: var(--dark-green);
}
#ham-menu:checked ~ div.ham-menu {
  transform: translate(0px);
  visibility: visible;
}
.full-page-green {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-green);
  z-index: 997;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: 500ms;
  position: fixed;
  top: 0;
  left: 0;
}
#ham-menu:checked ~ div.full-page-green {
  display: block;
  opacity: 1;
  visibility: visible;
}
[for="ham-menu"] > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}
.menu-line {
  display: block;
  width: 17px;
  height: 2px;
  margin: 10px 0 5px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: var(--border-color);
  transition: 500ms;
  transform-origin: right center;
}
[for="ham-menu"] > div > span:nth-child(4),
[for="ham-menu"] > div > span:nth-child(5),
[for="ham-menu"] > div > span:nth-child(6) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transform-origin: left center;
}
#ham-menu:checked + .label_filtered span {
  background-color: var(--dark-green);
}
#ham-menu:checked + .label_filtered span:nth-child(2),
#ham-menu:checked + .label_filtered span:nth-child(5) {
  transform: scale(0);
}
#ham-menu:checked + .label_filtered span:nth-child(1) {
  transform: translateY(17px) rotate(45deg);
}
#ham-menu:checked + .label_filtered span:nth-child(4) {
  transform: translateY(17px) rotate(-45deg);
}
#ham-menu:checked + .label_filtered span:nth-child(3) {
  transform: translateY(-17px) rotate(-45deg);
}
#ham-menu:checked + .label_filtered span:nth-child(6) {
  transform: translateY(-17px) rotate(45deg);
}

.text {
  font-size: 2.5rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "OpenSansCondensed-Bold", sans-serif;
}
.title {
  font-size: 3rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "OpenSansCondensed-Bold", sans-serif;
  color: var(--icon-hover-bg);
  padding: 10px;
}
.heading {
  font-size: 6rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-family: "Patua One";
}
.centre-text {
  text-align: center;
}
.bold-text {
  font-weight: bold;
}